<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body style="box-sizing: border-box;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
        <img src="https://trello-attachments.s3.amazonaws.com/5d64dfa3fadb095e7a5002f0/850x1276/bebacf839d8db7565957037c30504d99/logo.png" style="height:60px;width:60px">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-itemfloat: right;display: block; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px; active">
                <a class="nav-link" style="color:#00a7b5"href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links" style="color:#00a7b5" href="/clientdashboard">Our Ninjas</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{body}}}
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{{script}}"></script>
</body>
</html>