<div class="container">



    <span>

        <img src="https://media.istockphoto.com/vectors/smiling-young-man-in-blue-vector-id486588050?k=6&m=486588050&s=612x612&w=0&h=XGLuEs-MjJs_VGb3LVwz0HfFeCwA4SBC40O3ybARCzg="
            alt="Ninja Picture" height="150px">

        <span id="ninja _name" style="font-size: 20px"> <strong>Name of the Ninja</strong> </span>
    </span>


</div>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal Details</h5>
                    <div id="personal_details">
                        Full Name : Balaji Kamalesan
                        <br>
                        Emp Id: 0001
                        <br>
                        Locality : Dharmapuri
                        <br>
                        Contact No : 8838159833
                        <br>
                        Registered Email : xyz@gmail.com

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Availability Status</h5>

                    <p>Availble / Not Available</p>
                    <h5 class="card-title">Duty Status</h5>

                    <p>Working / Not Working</p>

                </div>
            </div>
        </div>


    </div>
</div>
<br>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Orders</h5>
                <div class="card-body">

                    <a href="#" class="btn btn-primary">Current Order</a>
                    <a href="#" class="btn btn-primary">Recent Order</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Change the Status</h5>
                <div class="card-body">

                    <a href="#" class="btn btn-primary">Available </a>
                    <a href="#" class="btn btn-primary">Not Available</a>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>