    <div class="container text-center my-5"style="height:620px">
        <form action="./" method="get">
            <h1>Thanks</h1>
            <h3>your order has been placed.Your order id :{{orderid}}</h3>
             <P><i>Please note it down for Tracking your Order</i></P>
            <button type="submit" class="btn btn-info" style="color:white">Thank You</button>
        </form>
    </div>
    