<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>

<body>
    <nav id="topNav" class="navbar fixed-to navbar-expand-md" style="background-color: #231f20;color:#e8e2d6">
        <a class="navbar-brand" href="/home">
            <img src="https://trello-attachments.s3.amazonaws.com/5d64dfa3fadb095e7a5002f0/850x1276/bebacf839d8db7565957037c30504d99/logo.png"
                width="50" height="50" alt="" style="border-radius: 50%">
        </a>
        <a class="navbar-brand mx-auto" href="/" id="brand">
            <h2>Welcome</h2>
        </a>
        <div class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientdashboard/logout">logout</a>

                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-center my-5">
        <form action="/clientdashboard" method="GET">
            <h1>Thanks</h1>
            <h3>your order has been placed.Your order is :{{id}}</h3>
            <button type="submit" class="btn btn-primary">ok</button>
        </form>

    </div>
    <footer class="bg-dark fixed-bottom">
        <div class="container pt-3">
            <div class="row">
                <div class="col">
                    <p>
                        <span><img src="https://img.icons8.com/ios/40/000000/home.png" /></span>
                        &nbsp Address
                    </p>
                    <p class="pl-5">
                        Unit 1A & 501A, Building B-1, Vadgaonsheri, Pune-411014,
                        Maharashtra, India.
                    </p>
                </div>
                <div class="col">
                    <p>
                        <span><img src="https://img.icons8.com/color/48/000000/send-mass-email.png" /></span>
                        &nbsp Email us
                    </p>
                    <p class="pl-5">Drop Email at:<br />support@parcelninja.com</p>
                </div>
                <div class="col">
                    <p>
                        <span><img src="https://img.icons8.com/officel/40/000000/cell-phone.png" /></span>
                        &nbsp Call us
                    </p>
                    <p class="pl-5">Welcome to call Us:<br />(+91)20-49116100</p>
                </div>
                <div class="col">
                    <p>
                        <span><img src="https://img.icons8.com/color/48/000000/conference-call.png" /></span>
                        &nbsp Follow Us
                    </p>
                    <p class="pl-5">
                        <img src="https://img.icons8.com/color/35/000000/facebook-new.png" /><img
                            src="https://img.icons8.com/color/35/000000/twitter.png" /><img
                            src="https://img.icons8.com/color/35/000000/instagram-new.png" /><img
                            src="https://img.icons8.com/color/35/000000/linkedin.png" />
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <hr style="border: 1px solid white;" />
            <h5 class="text-center pb-3" style="color:#00a7b5;">
                © 2019 Parcelninja All Rights Reserved
            </h5>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUDQlReLguD8jUO1_0r0c90bXOxAKCKVs&libraries=places"
        type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{script}}"></script>
</body>

</html>