body{
    box-sizing: border-box;
    background-image:url("./image/clientdashboardback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
  }