body {
  font-family: sans-serif;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,167,181, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a:hover {
  color: black;
}
@media only screen and (min-width: 600px) {
  .navitem {
    margin-left: 280px !important ;
    font-size: 30px;
  }
}

.navitem {
  margin-left: 350px !important ;
  font-size: 30px;
}

#main {
  width: 100vw;
  height: 400px;
  background-image: url("https://www.lalamove.com/hubfs/Lalamove%20India%20images/Main%20page_india_new.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navitem a {
  color: #00a7b5;
}

#work {
  background-image: url("./img/frame.jpg");
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
